
    /* Color Scheme: 
        #030347 - Navy
        #050578 - Navy (Lighter Shade)
        #808080 - Grey
        #000000 - Black
    */

    * {
        margin: 0;
        padding: 0;
    }

    body {
        display:flex; 
        flex-direction:row; 
        justify-content:center;
        background-color: blanchedalmond;
        min-height: 100vh;
        min-width: 100vh;
    }

    h1 {
        font-weight: 600;
    }

    .section-heading {
        font-size: large;
        font-weight: 500;
        text-decoration: underline;
    }

    .page {
        margin-top: 30px;
    }

    /*------------------*/

    .personal-info {
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        margin-bottom: 10px;
        width: 775px;
    }

    .personal-info .content-flex-box {
        display: flex;
        flex-direction: row;
    }

    .personal-info .personal-picture{
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }

    .personal-info .introduction {
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        margin-left: 10px;
    }

    .personal-info .content-flex-box .introduction .personal-name {
        text-align: center;
    }

    .personal-info .social-icon {

    }

    .personal-info .social-links {
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        margin-left: 15px;
    }

    /*------------------*/

    .personal-stack {
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        width: 150px;
        height: 500px;
        position: absolute;
    }

    .personal-stack .section-heading {
        text-align: center;
    }

    .personal-stack .content-flex-box {
        display: flex;
        flex-direction: column;
    }

    .personal-stack .content-flex-box .stack-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        width: 50px;
        height: 50px;
    }

    .personal-stack .content-flex-box .stack-item p {
        margin-left: 5px;
        font-weight: 700;
    }

    /*------------------*/

    .personal-projects {
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        position: absolute;
        margin-left: 175px;
        width: 775px;
        height: 225px;
    }

    .personal-projects .section-heading {
        margin-left: 10px;
        margin-top: 5px;
    }

    .personal-projects .content-flex-box {
        display: flex;
        width: inherit;
    }

    .personal-projects .personal-project-item {
        border-color: black;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border-style: solid;
        height: 150px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .personal-projects .personal-project-item .project-name {
        font-size: 700;
    }

    .personal-projects .personal-project-item .project-image {
        position: absolute;
        width: 150px;
        height: 75px;
        border-radius: 10px;
    }

    .personal-projects .personal-project-item .arrow-link {
        position: absolute;
        border-color: black;
        border-style: solid;
        width: 25px;
        height: 25px;
    }

    .personal-projects .personal-project-item .project-details {
        position: absolute;
        
    }

