
    /* Color Scheme: 
        blanchedalmond
    */

    * {
        padding: 0;
    }

    body {
        display: flex;
        justify-content: center;
        size: auto;
        background-color: blanchedalmond;
    }

    .section-container 
    {
        border-color: black;
        border-style:solid;
        border-width: 2px;
        margin: 10px;
    }

    .header
    {
        margin: 10px;
        font-weight: 600;
    }

    .page
    {
        border-color: blue;
        margin-top: 15px;
        width: auto;
        height: auto;
    }

    .main-grid
    {
        display: grid;
        width: auto;
        font-family: Verdana, sans-serif;
    }

    .main-grid .row1
    {
        margin-right: 10px;
    }

    .main-grid div
    {
        text-align: center;
    }

    .personal-picture-grid-item
    {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .biography-grid-item
    {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }


    .social-media-grid-item
    {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .skill-experience-grid-item
    {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .current-projects-grid-item
    {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column: span 2;
    }

    .current-stack-grid-item
    {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .blog-grid-item
    {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column: span 2;
    }

    /* --Section Contents--- */

    .current-stack-grid-item .section-container
    {
        border-radius: 10px;
        padding: 5px;
    }

    .current-stack-grid-item .section-container .stack-container {
        width: 150px;  /* Adjust as needed */
        height: 150px; /* Controls how many items are visible at a time */
        overflow: hidden;
        position: relative;
      }
      
    .current-stack-grid-item .section-container .stack-container .stack-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        animation: scroll-loop 3s linear infinite;
      }

    .current-stack-grid-item .section-container .stack-container .stack-list .stack-item {
        padding: 10px;
      }

    @keyframes scroll-loop {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(-50%);
        }
      }