
    /* Color Scheme: 
        #030347 - Navy
        #050578 - Navy (Lighter Shade)
        #808080 - Grey
        #000000 - Black
    */

html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

p {
    color: white;
}

h1, h3, h4, h5, h6 {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

.PageSection {
    display: flex;
    height: 10vw;
    width: 20vh;
    min-width: 100vw;
    min-height: 25vw;
}

.Section1 {
    background-color: blue;
    display: flex;
    width: 100px;
    height: 100px;
    min-width: 100vw;
    min-height: 15vh;
}

.Section1 {
    background-color: grey;
    display: flex;
    width: 100px;
    height: 100px;
    min-width: 100vw;
    min-height: 15vh;
}

.Section2 {
    background-color: navy;
    display: flex;
    width: 100px;
    height: 100px;
    min-width: 100vw;
    min-height: 15vh;
}

.Section3 {
    background-color: black;
    display: flex;
    width: 100px;
    height: 100px;
    min-width: 100vw;
    min-height: 15vh;
}

.mainflexbox {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

.flexbox {
    display: flex;
}

